* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(16, 128, 255);
  padding-top: 8rem;
}

/*MAIN*/
.mobile-grid {
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  margin-left: 7rem;
  margin-right: 7rem;
  margin-bottom: 1rem;
  overflow: scroll;
}
.mobile-grid-card {
  margin-right: 0.5rem;
}

.mobile-grid-card > div {
  width: 12rem;
  height: 6rem;
}

.mobile-grid-card div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.grid-display {
  margin-left: 7rem;
  margin-right: 7rem;
  display: grid;
  grid-template-columns: 13rem 1fr 13rem;
  grid-template-rows: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  margin-bottom: 1rem;
}

.grid-display-1 {
  border-radius: 0.5rem;
  background-color: white;
  width: 100%;
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid-display-1 > div {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: start;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-left: 1rem;
  font-size: 0.75rem;
  color: rgb(88, 88, 88);
}

.grid-display-1 > div :nth-child(1) {
  margin-right: 0.5rem;
}

.grid-display-2 {
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid-display-2 > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 0.5rem;
}

.grid-display-3 {
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  grid-row-start: 1;
  grid-row-end: 2;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 0.85rem;
  font-weight: 400;

  overflow: hidden;
}

.grid-display-3 > div {
  height: 3.82325rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.grid-display-3 > div :nth-child(1) {
  margin-right: 1rem;
}

.call-to-order :nth-child(2) {
  text-wrap: nowrap;
}

.grid-display-4 {
  background-color: white;
  border-radius: 0.5rem;
}

.grid-display-4 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offers {
  background-color: rgb(255, 255, 255);
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  margin: 0 7rem;
  padding: 0.5rem;
  padding-right: 0;
  border-radius: 0.5rem;
}

.offers > div {
  margin-right: 0.5rem;
}

.offer-image {
  width: 100%;
  height: 12rem;
  border-radius: 1rem;
}

.offer-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.offer-name {
  height: 2rem;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.offers > div {
  width: 15.2rem;
  height: 100%;
  margin-left: rem;
}

.discount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-left: 7rem;
  margin-right: 7rem;
  padding: 0.7rem;
  background-color: white;
  height: 15rem;
  border-radius: 0.5rem;
}
.discount > div {
  width: 50%;
  height: 100%;
}

.discount > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.red-head-sb {
  margin-left: 7rem;
  margin-right: 7rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.red-head-sb-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(230, 36, 36);
  color: rgb(255, 255, 255);
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  border-radius: 0.5rem 0.5rem 0 0;
  height: 4rem;
}

.see-all-red {
  font-size: 0.85rem;
}

.red-head-sb-description :nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.yellow-head-sb {
  margin-left: 7rem;
  margin-right: 7rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.yellow-head-sb-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: Orange;
  color: rgb(0, 0, 0);
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  border-radius: 0.5rem 0.5rem 0 0;
  height: 4rem;
}

.see-all-yellow {
  font-size: 0.85rem;
}

.yellow-head-sb-description :nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-head-sb {
  margin-left: 7rem;
  margin-right: 7rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}
.white-head-sb-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(253, 254, 255);
  color: rgb(0, 0, 0);
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  border-radius: 0.5rem 0.5rem 0 0;
  height: 4rem;
}

.see-all-white {
  font-size: 0.85rem;
}
.whitee-head-sb-description :nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-head-sb {
  margin-left: 7rem;
  margin-right: 7rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}
.blue-head-sb-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(9, 56, 109);
  color: white;
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  border-radius: 0.5rem 0.5rem 0 0;
  height: 4rem;
}

.blue-head-sb-description-main-1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.see-all {
  font-size: 0.85rem;
}

.blue-head-sb-description :nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-head-sb-content {
  background-color: white;
  display: flex;
  overflow: auto;
  scrollbar-width: none;
  position: relative;
  padding: 0.5rem;
  padding-right: 0;
}

.product-display-image {
  height: 11rem;
  width: 11rem;
  margin-right: 0.5rem;
}

.product-display-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}

.product-display-description {
  width: 11rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(58, 58, 58);
  font-size: 0.85rem;
  padding: 0.1rem;
}

.product-display-description :nth-child(1) {
  font-size: 0.9rem;
  height: 1.5rem;
  display: flex;
  align-items: start;
  justify-content: start;
  margin-top: 0.1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  white-space: nowrap;
  overflow: hidden;
}
.product-display-description :nth-child(2) {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 0.1rem;
}

.product-display-description :nth-child(3) {
  text-decoration: line-through;
  font-size: 0.7rem;
  height: 1rem;
  margin-top: 0.1rem;
}

.scroll-arrow {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.651);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 6.75rem;
}

.left-arrow {
  left: 5px;
}

.right-arrow {
  right: 5px;
}

.about-jumia {
  background-color: white;
  margin: 1rem 7rem 5rem;
  padding: 1rem;
}

.about-jumia-content h1 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-top: 1rem;
}

.about-jumia-content h2 {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.about-jumia-content p {
  font-size: 0.85rem;
  margin-top: 1rem;
  color: rgb(58, 58, 58);
}

/* HEADER STYLES */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.header-search-logo {
  width: 5rem;
  height: 2rem;
  border: none;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  background-color: rgb(253, 152, 0);
  color: white;
}

.header-search-logo-hidden {
  stroke: white;
}

.left-section {
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
}

.middle-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28rem;
}

.search-box {
  height: 2rem;
  width: 0;
  padding-left: 3rem;
  flex: 1;
  border: 1px solid;
  border-radius: 0.2rem;
  outline: none;
}

.search-logo-container {
  width: 3rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -3rem;
  z-index: 1;
}

.search-button {
  width: 5rem;
  height: 2rem;
  margin-left: 1rem;
  background-color: rgb(253, 152, 0);
  border-radius: 0.2rem;
  border: none;
  color: white;
  cursor: pointer;
}

.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 2rem;
  margin-left: 1rem;
}

.right-section > nav {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  margin-right: 1rem;
}

.right-section > nav li {
  margin-right: 1rem;
}

.right-section > nav li .header-list-content .header-list-description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-section > nav li .header-list-content .header-list-description:hover {
  color: rgb(253, 152, 0);
  cursor: pointer;
}

.header-list-content {
  position: relative;
}
.header-list-table {
  position: absolute;
  top: 2.5rem;
  border: 1px solid black;
  width: 10rem;
  background-color: white;
}

.header-list-table-1 {
  left: -2.3rem;
  display: none;
}
.header-list-table-2 {
  left: -3rem;
  display: none;
}
.header-list-table-3 {
  left: -4rem;
  display: none;
}
.header-list-table ul {
  list-style: none;
}

.header-list-table ul li {
  height: 3rem;
  display: block;
  border: 1px solid;
  width: 10rem;
}

.header-list-table ul li a {
  height: 100%;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-list-description-1:hover + .header-list-table-1 {
  display: block;
}

.header-list-description-2:hover + .header-list-table-2 {
  display: block;
}

.header-list-description-3:hover + .header-list-table-3 {
  display: block;
}

/*MAIN*/

/* FOOTER */
footer {
  display: grid;
  grid-template-areas:
    "one two two three"
    "four five six seven"
    "eight nine nine unused"
    "ten ten ten ten";
  width: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 0.7rem;
  background-color: rgb(124, 117, 128);
  color: rgb(240, 230, 230);
}

.footer-box {
  padding-top: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
  background-color: rgb(124, 117, 128);
}
.footer-box-1 {
  grid-area: one;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 0;
  background-color: rgb(31, 34, 34);
}
.footer-box-1 > img {
  width: 10rem;
}

.footer-box-2 {
  grid-area: two;
  background-color: rgb(31, 34, 34);
}

.email-detail {
  display: flex;
}

.email-input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 0.75rem;
}

.email-logo {
  margin-right: -2rem;
  z-index: 1;
}

.footer-box-3 {
  grid-area: three;
  display: flex;
  flex-direction: column;
  background-color: rgb(31, 34, 34);
}
.footer-box-4 {
  grid-area: four;
  background-color: rgb(124, 117, 128);
}

.footer-box-5 {
  grid-area: five;
  background-color: rgb(124, 117, 128);
}
.footer-box-6 {
  grid-area: six;
}
.footer-box-7 {
  grid-area: seven;
}
.footer-box-8 {
  grid-area: eight;
  padding-bottom: 0.5rem;
}
.footer-box-9 {
  grid-area: nine;
  padding-bottom: 0.5rem;
}
.footer-box-10 {
  grid-area: ten;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.footer-box-11 {
  grid-area: unused;
}
.footer-title {
  font-weight: 900;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1rem;
  color: rgb(240, 230, 230);
}

.footer-suscribe-button {
  width: 7rem;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgb(214, 207, 207);
  border-radius: 0.2rem;
  color: rgb(240, 230, 230);
}

.footer-search-box {
  width: 15rem;
  height: 2rem;
  border-radius: 0.2rem;
  padding: 0 0 0 2.5rem;
  outline: none;
  font-size: 0.9rem;
  margin-right: 1rem;
}

.footer-search-box::placeholder {
  color: rgb(140, 150, 160);
}

.terms-agreement-container {
  display: flex;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.checkbox-detail {
  width: 30rem;
  margin-left: 1rem;
}
.footer-box-3-upper {
  display: flex;
  align-items: flex-start;
}

.footer-box-3-upper-image-container {
  width: 3rem;
  height: 3rem;
  flex-shrink: 0;
}

.footer-jumia-png {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-box-3-upper-right {
  margin-left: 1rem;
}

.footer-box-3-upper-right > :nth-child(2) {
  margin-top: 0.8rem;
}

.checkbox-detail-2 {
  margin-top: 0.5rem;
}

.checkbox-detail-2 > a {
  color: rgb(253, 152, 0);
  text-decoration: none;
}

.footer-box ul {
  margin-top: 1rem;
}

.footer-box ul li a {
  color: rgb(240, 230, 230);
  text-decoration: none;
}

.footer-box ul li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  list-style: none;
}

.useful-link {
  margin-top: 1.5rem;
}

.footer-box-7 > div {
  display: flex;
}

.inter-box {
  margin-right: 1.5rem;
}

.social-logo {
  margin-right: 1rem;
}

.social-container,
.payment-method-container {
  display: flex;
  margin-top: 1rem;
}

.payment-method-logo {
  margin-right: 1rem;
}

.one-rem-marginbottom {
  margin-bottom: 1rem;
}
.half-rem-marginbottom {
  margin-bottom: 0.5rem;
}

.back-to-top {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: rgb(9, 56, 109);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 25px;
  border: none;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 992px) {
  .header-list-table-2 {
    left: -3.5rem;
  }
  .header-list-table-1 {
    left: -4rem;
  }
  .header-list-table-3 {
    left: -5rem;
  }
  footer {
    display: block;
  }
  .footer-box {
    min-height: 5rem;
    padding-right: 1rem;
    padding-left: 2rem;
  }
  .footer-box-11 {
    display: none;
  }
  .footer-box-1 {
    display: none;
  }
  .footer-box-2 {
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
  .footer-box-3 {
    padding-bottom: 4rem;
  }
  .email-detail {
    flex-direction: column;
  }
  .email-input {
    margin-bottom: 1rem;
  }
  .grid-display {
    display: none;
  }
  .mobile-grid {
    display: flex;
  }
}

@media only screen and (max-width: 768px) {
  .search-logo-hidden {
    display: block;
  }

  .middle-section {
    display: none;
  }
  .header-search-logo {
    display: flex;
  }

  .white-head-sb,
  .blue-head-sb,
  .red-head-sb,
  .yellow-head-sb {
    margin: 1rem 0;
  }

  .about-jumia {
    display: none;
  }

  .offers {
    margin-left: 0;
    margin-right: 0;
  }
  .offers .offer-image {
    height: 5rem;
  }

  .offers .offer-name {
    font-size: 0.6rem;
  }

  .mobile-grid {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .header-icon-description {
    display: none;
  }
  .right-section nav {
    margin-right: 0;
    margin-left: 3rem;
  }
}

@media only screen and (max-width: 470px) {
  .header-search-logo > :nth-child(2) {
    display: none;
  }

  .header-search-logo {
    width: 2rem;
  }

  .arrow-down-icon {
    display: none;
  }

  .blue-head-sb-description-main,
  .yellow-head-sb-description-main,
  .red-head-sb-description-main,
  .white-head-sb-description-main,
  .red-head-sb-description :nth-child(2) {
    font-size: 0.85rem;
  }
  .see-all-white,
  .see-all-red,
  .see-all-yellow,
  .see-all {
    font-size: 0.7rem;
  }
  .product-display-image {
    height: 8rem;
    width: 8rem;
  }
  .product-display-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .product-display-description {
    width: 8rem;
  }
}
